body{
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    font-family: 'Lato', sans-serif;
    /*overflow:hidden;*/
}

.container{
    height:100%;
    /*padding: 110px 110px;*/
    /*padding: 5% 5%;*/
}
.site_container{
    padding: 3% 15%;
}
.column{
    display:inline-block;
    float:left;
}
.inner_container{
    width:100%;
    height:100%;
    /*padding: 0px 70px;*/
    /*margin: 110px 110px;*/
    max-width:1920px;
    background-color: #f5f5f5;
}
.grid{
    /*padding:0px 4%;*/
}
/**
Menu
 */
.menu{
    width:23%;
    position:relative;
}
.menu .menu_container{
    padding: 125px 0px 125px 20%;
}
.menu_container .menu_item{
    color: #cacaca;
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.menu_container .menu_item.active{
    position: relative;
    /*padding-left: 8%;*/
    padding-left: 20%;
    color: black;
}
.menu_active_line{
    /*display: none;*/
    width: 0%;
    left: -10%;
    height:1px;
    background-color:black;
    /*position: absolute;*/
    /*bottom: 23px;*/
    position:relative;
    top: 26px;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.menu_item.active .menu_active_line{
    width: 60%;
    left: -85%;
}
/**
Gallery
 */
.main_gallery{
    width:54%;
}
.main_gallery_container{
    position: relative;
    margin-top: -40px;
}
.main_gallery_item{
}
img{
    width:100%;
}
/**
Small Gallery
 */
.small_gallery{
    width:23%;
    position:relative
}
.small_gallery_container{
    padding:0px 70px;
}
.small_gallery_container .small_gallery_relative_container{
    position: relative;
}
.small_gallery_container .small_gallery_absolute_container{
    position: absolute;
    top:360px;
}
.custom_gallery{
    position: relative;
}
.custom_gallery_item{
    position:absolute;
    opacity:0;
    margin-left:10px;
    margin-top:5px;
    min-width:260px;
}
.custom_gallery_item.active{
    opacity:1;
    margin:0px;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.custom_gallery_items_container{
    overflow: hidden;
}
.custom_gallery_items{
    position: relative;
}
.custom_gallery_item_img{
    max-height: 275px;
    overflow: hidden;
}
.custom_gallery img{
    width:320px;
}
.custom_gallery_pager{
    position: absolute;
    top: -60px;
    left: 21px;
    font-size: 15px;
}
.custom_gallery_pager_item{
    display:inline-block;
    padding-right: 40px;
    opacity: 0.3;
    font-size: 14px;
    cursor: pointer;
}
.custom_gallery_pager_item_line{
    width:1px;
    background-color: black;
    margin-top: 13px;
    height: 27px;
    margin-left: 9px;
    display:none;
}
.custom_gallery_pager_item.active .custom_gallery_pager_item_line{
    display:block;
}
.custom_gallery_pager_item.active{
    opacity: 1;
}
.custom_gallery_description{
    margin-top: 14px;
    font-weight: bolder;
    font-size: 15px;
    line-height: 42px;
}
.arrow.icon{
    width: 15px;
    height: 15px;
    background: url(../images/arrow_down.png) no-repeat;
    background-size: 12px;
}
.arrow.icon.right{
    transform: rotateZ(-90deg);
}
.arrow.icon.left{
    transform: rotateZ(90deg);
}
.arrow.icon.down{
}

.button{
    cursor:pointer;
    padding:0;
    margin:0;
    border:0;
}

#explore{

    /*position: absolute;*/
    /*bottom: 20px;*/
    /*left:20px;*/
}
.hover-in{
    transition: .5s ease-out;
}
.hover-out{
    transition: .5s ease-in;
}
.logo{
    position:absolute;
    top: -60px;
    left: -60px;
    width: 120px;
}
@media screen and (max-width: 1690px) {
    .site_container{
        padding: 3% 10%;
    }
    .small_gallery_container .small_gallery_absolute_container{
        top:320px;
    }
    .custom_gallery img{
        width:300px;
    }
}

@media screen and (max-width: 1600px) {
    .site_container{
        padding: 3% 10%;
    }
    .small_gallery_container .small_gallery_absolute_container{
        top:340px;
    }
    .custom_gallery img{
        width:300px;
    }
    .main_gallery_container{
        margin-top:-13%;
        padding:50px;
    }
}
@media screen and (max-width: 1500px) {
    .site_container{
        padding: 5% 10%;
    }
    .small_gallery_container .small_gallery_absolute_container{
        top:310px;
    }
    .custom_gallery img{
        width:290px;
    }
    .main_gallery_container{
        margin-top:-13%;
        padding:50px;
    }
}
@media screen and (max-width: 1350px) {
    .site_container{
        padding: 7% 6%;
    }
    .small_gallery_container .small_gallery_absolute_container{
        top:320px;
    }
    .custom_gallery img{
        width:260px;
    }
    .main_gallery_container{
        margin-top:-13%;
        padding:30px;
    }
    .logo{
        top: -45px;
        left: -45px;
        width: 90px;
    }
}
@media screen and (max-width: 1200px) {
    .site_container{
        padding: 8% 4%;
    }
    .small_gallery_container .small_gallery_absolute_container{
        top:250px;
    }
    .custom_gallery img{
        width:260px;
    }
    .main_gallery_container{
        /*margin-top:-18%;*/
        padding:0px;
    }
    .menu{
        width: 22%;
    }
    .small_gallery{
        width: 22%;
    }
    .main_gallery{
        width: 56%;
    }
    .small_gallery_container{
        padding:0px 30px;
    }
}

@media screen and (max-width: 1110px) {
    /*.small_gallery_container .small_gallery_absolute_container{*/
    /*top:250px;*/
    /*}*/
    .custom_gallery img{
        width:235px;
    }
    .small_gallery_container{
        padding:0px 20px;
    }
    .logo{
        top: -35px;
        left: -35px;
        width: 70px;
    }
}

@media screen and (max-width: 920px) {
    .site_container{
        padding: 15% 5%;
    }
    .main_gallery_container{
        margin-top:-18%;
    }
    /*.menu{*/
        /*width:29%;*/
    /*}*/
    /*.small_gallery{*/
        /*width:29%;*/
    /*}*/
    /*.main_gallery{*/
        /*width:42%;*/
    /*}*/
}
@media screen and (max-width: 860px) {
    .site_container{
        padding: 1% 1%;
    }
    .main_gallery_container{
        margin-top:-1%;
    }
    .hamburger{
        right: 5px;
        top: 5px;
    }
    .logo{
        top: 0px;
        left: 0px;
        width: 70px;
    }
    /*.menu{*/
    /*width:29%;*/
    /*}*/
    /*.small_gallery{*/
    /*width:29%;*/
    /*}*/
    /*.main_gallery{*/
    /*width:42%;*/
    /*}*/
}
