body{
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    font-family: 'Lato', sans-serif;
}

.container{
    height:100%;
    /*padding: 110px 110px;*/
    padding: 5% 5%;
}
.column{
    display:inline-block;
    float:left;
}
.inner_container{
    width:100%;
    height:100%;
    background-color: #f5f5f5;
    /*padding: 0px 70px;*/
    /*margin: 110px 110px;*/
    max-width:1920px;
}
.grid{
    padding:0px 4%;
}
/**
Menu
 */
.menu{
    width:29%;
}
.menu .menu_container{
    padding: 123px 0px;
}
.menu_container .menu_item{
    color: #cacaca;
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
}
.menu_container .menu_item.active{
    position: relative;
    padding-left: 8%;
    color: black;
}
.menu_active_line{
    display: none;
    width: 30%;
    left: -30%;
    height:1px;
    background-color:black;
    position: absolute;
    bottom: 23px;
}
.active .menu_active_line{
    display: inline-block;
}
/**
Gallery
 */
.main_gallery{
    width:42%;
}
.main_gallery_container{
    position: relative;
    margin-top: -40px;
}
.main_gallery_item{
}
img{
    width:100%;
}
/**
Small Gallery
 */
.small_gallery{
    width:29%;
}
.small_gallery_container{
    padding:0px 70px;
}
.small_gallery_container .small_gallery_relative_container{
    position: relative;
}
.small_gallery_container .small_gallery_absolute_container{
    position: absolute;
    top:0px;
}
.small_gallery_container .small_gallery_item{

}
